<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Followers</title>
  <link rel="stylesheet" href="/stylesheets/followersPage.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  
<header>
  <div class="back-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
  <div class="heading">Followers List</div>
</header>

<section>
<div class="container">
<% if(user.followers.length > 0) { %>
<% user.followers.forEach((follower) =>{ %>
<div id="userData" data-user='<%- JSON.stringify(loggedInUser) %>'></div>
<div id="userData2" data-user='<%- JSON.stringify(user) %>'></div>
<div class="card">
<img src="<%= follower.profileImage %>">
<div class="text">
<div class="identityBox">
<h1 class="fname"><%= follower.fullname %></h1>
<h3 class="symbol"> <%= loggedInUser._id.toString() === follower._id.toString()?"( You )":""%> </h3>
</div>
<h2 class="uname">@<%= follower.username %></h2>
<a class="view-profile" href="/otherusersprofile/<%=follower._id %>">View Profile</a>
</div>
</div>
<% }) %>
<% } else { %>
<% if(user._id.toString()=== loggedInUser._id.toString()){ %>
<h1 style="color:red;margin-left:2cm;margin-top:3cm;width:60vw;">No followers Yet... &nbsp; <i style="font-size:25px;color:yellow;" class="fas fa-sad-tear"></i></h1>
<% } else { %>
<h1 style="color:red;margin-left:2.6cm;margin-top:3cm;">No followers Yet... </h1>
<% } %>
<% } %>
</div>
</section>

<footer>
</footer>

<script src="/javascripts/showFollowers.js"></script>

</body>
</html>